:root {
  --yellow: #f2b619;
  --white: #ffffff;
  --primary: #04a5c2;
  --color-lightgrey: #f9f9f9;
}

.wd-styl {
  width: 170px;
}

.imgcard-styl {
  width: 150px;
  height: 150px;
}
.imgwidth {
  width: 130px;
}
.text-color {
  color: var(--primary);
}
*{
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .mtmob {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .mtmob {
    margin-top: 0px;
  }
}
@media screen and (max-width: 600px) {
  .mainScreen-wrapper{
    height: 100vh;
    /* border: 2px solid rgb(236, 167, 20); */
  }

  .suggQuestBox-wrapper{
    height: 12vh;
    /* border: 2px solid rgb(106, 255, 6); */
  }
  /* .suggQuestBox-wrapper button {
    font-size: 14px;
    padding: 4px 4px;
  }
  .autoQuestBar-wrapper{
    height: 10vh;
    border: 2px solid cyan;
    background-color: #04a5c2;
  
  }
  .askQuestion-item{
    width: 95%;
   
  } */
  .homeScreenChatWrapper{
    height: 100vh;
    /* border: 2px solid rgb(1, 111, 111); */
  }
  .askQuestionText-wrapper p{
    font-size: 12px;
  }
  .askQuestionIcon-wrapper i{
    font-size: 13px;
  }
 
  .chatBox-item {
    width: 90%;
    height: 44vh;
    /* border: 2px springgreen solid; */
  }
  .robotMessage-wrapper p{
    font-size: 13px;
  }
  .robotMessage-wrapper i{
    font-size: 17px;
  }
  .userMessage-wrapper p{
    font-size: 13px;
  }
  .userMessage-wrapper i{
    font-size: 17px;
  }
  .chatInput-wrapper{
   width: 90%;
   /* border: 2px solid rgb(250, 5, 250); */
  }
  .chatInputfield-item{
    width: 95%;
    /* border: 2px solid brown; */
    
  }
  
  /* homeScreen */
  .robotMessageWrapper{
  width: 90%;
  
  }
  .robotIcon i{
    margin-right: 5px;
  }
  .chatSuggQuestWrapper{
    width: 90%;
    /* border: 2px solid peachpuff; */
   
  }
  .dropdown-items{
    padding: 15px;
  }
  .ConvoWrapper{
    width: 90%;
    /* border: 2px solid peru; */
  }
  .convo-item{
    padding: 15px 0px;
  }
  .askQuestionWrapper{
    width: 90%;
    padding: 14px 0px;
    /* border: 2px solid royalblue; */
  }
  .askQuestionWrapper p{
    font-size: 14px;
  }  

  .allConvobtn-wrapper{
  
    width: 90%;
  }
  .allConvoText{
  margin-left: 20px;
  }
}


/*HomeScreen PC */
.homeScreenChatWrapper {
  height: 100vh;
}
.robotMessageWrapper{

  margin-top: 5px;

}
.chatSuggQuestWrapper{
  margin-top: 4px;
}
.chatArea-wrapper{
  margin-top: 4px;
}
.chatInput-wrapper{
  margin-top: 4px;
}
.ConvoWrapper{
  margin-top: 4px;
}
.askQuestionWrapper{
  margin-top: 5px;
}
.allConvobtn-wrapper{
  margin-top: 5px;
}
.convo-item{
 background-color: #036b62;
} 